@model ICollection<SampleMvcApplication.Models.ExternalLogin>

@if (Model.Count > 0)
{
    <h3>@_("Registered external logins")</h3>
    <table>
        <tbody>
        @foreach (SampleMvcApplication.Models.ExternalLogin externalLogin in Model)
        {
            <tr>
                <td>@externalLogin.ProviderDisplayName</td>
                <td>
                    @if (ViewBag.ShowRemoveButton)
                    {
                        using (Html.BeginForm("Disassociate", "Account"))
                        {
                            @Html.AntiForgeryToken()
                            <fieldset>
                                @Html.Hidden("provider", externalLogin.Provider)
                                @Html.Hidden("providerUserId", externalLogin.ProviderUserId)
                                <input type="submit" value="@_("Remove")" title="@_("Remove this {0} credential from your account", externalLogin.ProviderDisplayName)" />
                            </fieldset>
                        }
                    }
                    else
                    {
                        @: &nbsp;
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}
