@{
    ViewBag.Title = _("About");
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        @_("Use this area to provide additional information.")
    </p>

    <p>
        @_("Use this area to provide additional information.")
    </p>

    <p>
        @_("Use this area to provide additional information.")
    </p>
</article>

<aside>
    <h3>@_("Aside Title")</h3>
    <p>
        @_("Use this area to provide additional information.")
    </p>
    <ul>
        <li>@Html.ActionLink(_("Home"), "Index", "Home")</li>
        <li>@Html.ActionLink(_("About"), "About", "Home")</li>
        <li>@Html.ActionLink(_("Contact"), "Contact", "Home")</li>
    </ul>
</aside>
