@{
    ViewBag.Title = _("Contact");
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>@_("Phone")</h3>
    </header>
    <p>
        <span class="label">@_("Main:")</span>
        <span>@_("425.555.0100")</span>
    </p>
    <p>
        <span class="label">@_("After Hours:")</span>
        <span>@_("425.555.0199")</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>@_("Email")</h3>
    </header>
    <p>
        <span class="label">@_("Support:")</span>
        <span>@_("<a href=\"mailto:Support@example.com\">Support@example.com</a>")</span>
    </p>
    <p>
        <span class="label">@_("Marketing:")</span>
        <span>@_("<a href=\"mailto:Marketing@example.com\">Marketing@example.com</a>")</span>
    </p>
    <p>
        <span class="label">@_("General:")</span>
        <span>@_("<a href=\"mailto:General@example.com\">General@example.com</a>")</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>@_("Address")</h3>
    </header>
    <p>
        @_("One Microsoft Way<br />"+
           "Redmond, WA 98052-6399")
    </p>
</section>
